<div class="container" ng-controller="createController">
  <h1 class="h1">
    Add Employee
  </h1>
  <form name="employeeForm">
      <div class="row">
        <div class="col-md-12">
            <div class="form-group">
              <label for="exampleInputEmail1">Name</label>
              <input type="text" class="form-control" placeholder="Enter your Name"
              ng-model='name' name="employeeName" ng-change="onChange('name', name)">
              <span ng-show="invalidName" style="color: red">{{nameErrorMessage}}</span>
            </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="exampleInputPassword1">Email</label>
            <input type="text" name='email' class="form-control" placeholder="Enter your Email"
            ng-model='email' ng-change="onChange('email', email)">
            <span ng-show="invalidEmail" style="color: red">{{emailErrorMessage}}</span>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group" ng-init="sex='f'">
            <label for="exampleInputPassword1" style="display: block">Gender</label>
            <input type="radio" ng-model="sex" value="f" ng-change="onChange('gender', sex)">Female
            <input type="radio" ng-model="sex" value="m" ng-change="onChange('gender', sex)">Male
            <input type="radio" ng-model="sex" value="o" ng-change="onChange('gender', sex)">Others
            <p  ng-show="invalidSex" style="color: red" style="display: block">{{sexErrorMessage}}</p>
          </div>
        </div>
      </div>

      <button class="btn btn-primary add-button" type="button" ng-click='addTodo()'>Add Employee</button>
    </form>
</div>
